<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pansoft.app.smartmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <meta-data
            android:name="com.pansoft.app.smartmobile.loader.ImageGlideModule"
            android:value="GlideModule" />

        <activity android:name=".activity.NavigatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.PersonalMsgActivity" />
        <activity android:name=".activity.ProxyAccreditActivity" />
        <activity android:name=".activity.MyDocumentActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SetProtocolActivity" />
        <activity android:name=".activity.SetIpActivity" />
        <activity android:name=".activity.SetPortActivity" />
        <activity android:name=".activity.SetAppActivity" />
        <activity android:name=".activity.SetLoginTypeActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.TaskDetailActivity" />
        <activity android:name=".activity.AssignDetailActivity" />
        <activity android:name=".activity.ReceiptAddActivity" />
        <activity android:name=".activity.ImageShowActivity"></activity>
    </application>

</manifest>